**Types of Objects in Python**


1.   Immutable objects
2.   Mutable objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

1- List

In [5]:
#List []
my_list = [1,5.8,True,"Hello"]
print(my_list)
type (my_list)

[1, 5.8, True, 'Hello']

list

In [6]:
# Lists are Mutable
my_list = [1,5.8,True,"Hello"]
my_list.append(6)
print(my_list)

[1, 5.8, True, 'Hello', 6]

In [8]:
# Lists are Mutable
my_list = [1,5.8,True,"Hello"]
my_list[3] = "ALi"
print(my_list)

[1, 5.8, True, 'ALi']

In [9]:
# Delete item form a list
my_list = [1,5.8,True,"Hello"]
del my_list[3]
print(my_list)

[1, 5.8, True]

In [10]:
# Join two lists
list1 = [1,5.8,True,"Hello"]
list2 = ["shimaa","mohamed","free palestine"]

final_list = list1 + list2
print(final_list)

[1, 5.8, True, 'Hello', 'shimaa', 'mohamed', 'free palestine']

2- Tuple

In [14]:
#Tuple ()
my_tuble = (1,5.8,True,"Hello")
print(my_tuble)
type (my_tuble)

(1, 5.8, True, 'Hello')

tuple

In [19]:
# Converting a List to Tuple
my_list = [1,5.8,True,"Hello"]
my_list.append(6)

my_tuble = tuple(my_list)
print(my_list)
print(my_tuble)
type (my_tuble)

[1, 5.8, True, 'Hello', 6]
(1, 5.8, True, 'Hello', 6)

tuple

In [22]:
# Tuple are Immutable
my_tuble = (1,5.8,True,"Hello")
my_tuble[3] = "ALi" # error
print(my_tuble) # error

TypeError: 'tuple' object does not support item assignment

3- Set

In [23]:
# Set {}
my_set = {1,5.8,True,"mohamed"}
print(my_set)
type (my_set)

{'mohamed', 1, 5.8}

set

In [24]:
# Set does not support indexing
my_set = {1,5.8,True,"mohamed"}
print(my_set[0]) # error

TypeError: 'set' object is not subscriptable

In [25]:
# Converting a List to Set
my_list = [1,5.8,True,"Hello"]
my_set = set(my_list)
print(my_list)
print(my_set)
type (my_set)

[1, 5.8, True, 'Hello']
{'Hello', 1, 5.8}

set

In [26]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

3- Dictionary

In [27]:
# Dictionary Key Value Pair {'key':'value'}
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [ ]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}