For

In [2]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 54
Enter the price of the laptop : 34
Enter the price of the laptop : 65
Enter the price of the laptop : 6678
Enter the price of the laptop : 876

In [6]:
for i in range(7):
  int(input(f'Enter the price of the laptop {i+1} : '))

Enter the price of the laptop 1 : 432
Enter the price of the laptop 2 : 657
Enter the price of the laptop 3 : 5435
Enter the price of the laptop 4 : 767867
Enter the price of the laptop 5 : 3423
Enter the price of the laptop 6 : 4324
Enter the price of the laptop 7 : 658

In [8]:
my_list = [1,5.7,"moahmd",34859,"jamal"]
for i in my_list:
  print(i)

1
5.7
moahmd
34859
jamal

While Loop

In [10]:
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9